<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secaicontainerengine.mapper.AttackResultMapper">

    <update id="upsertById">
        INSERT INTO model_evaluation (modelId, userId, backdoorAttackResult, adversarialAttackResult, createTime, updateTime)
        VALUES (#{modelId}, #{userId},
            CASE WHEN #{resultType} = 'backdoorAttackResult' THEN #{result} ELSE backdoorAttackResult END,
            CASE WHEN #{resultType} = 'adversarialAttackResult' THEN #{result} ELSE adversarialAttackResult END,
            NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        <if test="resultType eq 'backdoorAttackResult'">
            backdoorAttackResult = #{result},
        </if>
        <if test="resultType eq 'adversarialAttackResult'">
            adversarialAttackResult = #{result},
        </if>
        updateTime = NOW();
    </update>

    <select id="getResultByModelId" resultType="java.lang.String">
        <if test="resultType eq 'backdoorAttackResult'">
            SELECT backdoorAttackResult FROM model_evaluation WHERE modelId = #{modelId}
        </if>
        <if test="resultType eq 'adversarialAttackResult'">
            SELECT adversarialAttackResult FROM model_evaluation WHERE modelId = #{modelId}
        </if>
    </select>

</mapper>
